:root {
    --light_blue: aliceblue;
    --light_brown: #D2C6A7;
    --dark_blue: #011638;
    --dark_grey: rgb(94, 87, 77);
    --dark_grey_fade: rgba(94, 87, 77, 0.23);
    --mid_blue: #5c80BC;
    --light_green: #9EE493;
}

body {
    background-color: var(--light_blue);
    font-family: consolas, monospace;
}

